/* RESET */
* {margin: 0; padding: 0; font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: normal;
box-sizing: border-box;}
img {
	max-width: : 100%
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 1.5em; 
	color: #333;
}
p {
	font-size: 1em; 
	color: #777;
}
h1 {
	color: #ffffff;
}

/* CABEÇALHO */
.cabecalho {
	width: 100%; 
	float: left; 
	padding: 15px 4%; 
	background-color: #3db0f7;
}
.cabecalho form {
	width: 30%; 
	float: right;
}
.cabecalho button {
	width: 15%; 
	float: right; 
	padding: 15px 10px; 
	background-color: #0cae98; 
	color: #fff;
	cursor: pointer;
}
.logo a {
	width: 71px; 
	height: 119px;
	float: left; 
	background: url(../img/logo1.png) no-repeat;
	margin-left: 0px;
	margin-right: 30px;
}
.titulo_site {
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	font-weight: bold;
	color: #ffffff;  
}
.form-inline label{
	color: #ffffff;
	margin-right: 10px; 
}
.nav-link{
	margin-left: 25px;
}

/* FORMULÁRIO */
table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  	background-color: #dddddd;
}

button#indeferir{
    margin-left: 10px;
}
